@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer components {
    .input-field {
        @apply w-full border border-gray-400 rounded px-3 py-2 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-300 transition;
    }

    .btn-secondary {
        @apply px-4 py-2 bg-gray-300 text-gray-900 rounded hover:bg-gray-400 transition;
    }

    .form-div {
        @apply border border-gray-300 rounded-md p-5 w-full max-w-sm mb-6;
    }

    .posts-btn {
        @apply px-4 py-2 bg-gray-100 text-gray-900 rounded border border-black hover:bg-gray-950 hover:text-white transition;
    }

    .header-buttons {
        @apply px-4 py-2 bg-white text-black rounded hover:bg-gray-900 hover:border-2 hover:border-white hover:text-white transition;
    }

    .body-buttons {
        @apply px-4 py-2 bg-black text-white rounded hover:bg-gray-100 hover:border-2 hover:border-black hover:text-black transition;
    }

    .left-number-input-toggle {
        @apply bg-black text-white hover:bg-gray-100 hover:text-black focus:outline-none h-10 w-10 rounded-l-md border border-r-0 border-gray-800 flex items-center justify-center text-lg font-medium transition-colors duration-150;
    }

    .right-number-input-toggle {
        @apply bg-black text-white hover:bg-gray-100 hover:text-black focus:outline-none h-10 w-10 rounded-r-md border border-l-0 border-gray-800 flex items-center justify-center text-lg font-medium transition-colors duration-150;
    }

    .product_card {
        @apply 
            w-64
            rounded-lg
            border-2 border-black
            bg-black
            text-white
            overflow-hidden
            transition-all
            duration-300
            ease-out
            transform;
    }
    
    .product_card:hover {
        @apply
            bg-gray-100
            text-black
            -translate-y-2
            scale-[1.02]
            shadow-[0_15px_30px_rgba(0,0,0,0.35)];
    }

    .product_card:hover img {
        @apply brightness-95;
    }

    .edit-form-div {
    }

    /* USER SHOP STYLES */

    .user_shop_top {
        @apply border border-red-600;
    }

    .user_shop_bottom {
        @apply border border-green-600;
    }

    .header-links {}
}

/* text-[30px] font-semibold text-white */

/* PURE CSS */

.page-button-hover {
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.page-button-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.page-button-hover:hover::after {
    transform: scaleX(1);
}

.underline-hover {
    color: white;
    position: relative;
    cursor: pointer;
}

.underline-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.underline-hover:hover::after {
    transform: scaleX(1);
}

.admin_header_mid {
    color: white;
}

/* Admin Shop Mod */

.admin_shop_main {
    min-height: 650px;
}

.shop_right_content {
    min-height: 400px;
    border-radius: 10px;
}

.shop_left {
    width: 25%;
}

.shop_right {
    width: 75%;
}

.product_card {
    flex: 0 0 calc(25% - 1.5rem);
    height: 300px;
}

.edit-form-div {
    width: 80%;
}

.edit-data-form {
    width: 50%;
}

.edit-images-form {
    width: 50%;
}

.delete_image {
    cursor: pointer;
}

.each_product_card {
    width: 20%;
}

/* SHOP USERS */

.user_product_card {
    flex: 0 0 calc(25% - 1.5rem);
    height: 400px;
}

/* SIGN UP */

.signup_main_div {
    flex-flow: row;
}

.mobile_signup_toggle {
    display: none;
}

.mobile_app_title {
    display: none;
}

@media (max-width: 700px) {
    /* body {
        background-color: black;
    } */
    .home_headers {
        height: 70px;
        padding-top: 10px;
    }

    .desktop_signup_toggle {
        display: none;
    }

    .signup_main_div {
        flex-flow: column;
    }

    .mobile_signup_toggle {
        display: block;
    }

    .mobile_app_title {
        display: block;
        margin-top: -30px;
        margin-bottom: 30px;
    }
}